<footer class="app-footer">
    <div class="footer-grid">

        <!-- Бренд -->
        <div class="footer-brand">
            <div class="footer-logo">Runews</div>
            <p>
                Runews — новостной агрегатор нового поколения.
                Собираем актуальные новости из проверенных источников
                и персонализируем ленту под ваши интересы.
            </p>
        </div>

        <!-- Компания -->
        <div>
            <div class="footer-col-title">Компания</div>
            <div class="footer-links">
                <a href="/about">О нас</a>
                <a href="/team">Команда</a>
                <a href="/careers">Вакансии</a>
                <a href="/press">Пресса</a>
            </div>
        </div>

        <!-- Сотрудничество -->
        <div>
            <div class="footer-col-title">Сотрудничество</div>
            <div class="footer-links">
                <a href="/">Главная</a>
                <a href="/advertise">Реклама</a>
                <a href="/partners">Партнёрам</a>
            </div>
        </div>

        <!-- Соцсети -->
        <div>
            <div class="footer-col-title">Мы в соцсетях</div>
            <div class="footer-socials">
                <a href="https://max.ru/" target="_blank" class="social-btn" title="Max">
                    <img src="max-messenger.png" alt="MaxIcon" style="width: 25px; height: 25px">
                </a>
                <a href="https://t.me/Aleksandr_Evimov" target="_blank" class="social-btn" title="Telegram">
                    <img src="telegram.png" alt="TelegramIcon" style="width: 25px; height: 25px">
                </a>
                <a href="https://vk.com/" target="_blank" class="social-btn" title="ВКонтакте">
                    <img src="vk.png" alt="TelegramIcon" style="width: 25px; height: 25px">
                </a>
            </div>
        </div>

    </div>

    <div class="footer-bottom">
        <span>© @DateTime.Now.Year Runews. Все права защищены.</span>
        <div style="display:flex;gap:20px;">
            <a href="/privacy">Политика конфиденциальности</a>
            <a href="/terms">Пользовательское соглашение</a>
            <a href="/contacts">Контакты</a>
        </div>
    </div>
    <div class="footer-edu">
        Проект создан в учебных целях
    </div>
</footer>

@code {
}
